*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

display:flex;
background:#f4f7fb;

}



/* SIDEBAR */

.sidebar{

width:250px;
height:100vh;
background:#0b6efd;
color:white;
padding:25px;

}


.sidebar h2{

text-align:center;
margin-bottom:40px;

}


.sidebar li{

list-style:none;
padding:15px;
margin-bottom:10px;
background:#ffffff33;
border-radius:8px;
cursor:pointer;

}


.sidebar li:hover{

background:white;
color:#0b6efd;

}





/* MAIN */


.main{

flex:1;
padding:30px;

}


.header{

display:flex;
justify-content:space-between;
margin-bottom:30px;

}






/* CARDS */


.cards{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}



.card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px #ddd;

}


.card h3{

color:#0b6efd;

}


.card p{

font-size:30px;
margin-top:10px;

}






/* SECTION */


.section{

background:white;
padding:25px;
margin-top:30px;
border-radius:12px;
box-shadow:0 4px 10px #ddd;

}






/* FORM */


.form-group{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;

}



input,
select{

padding:12px;
border:1px solid #ccc;
border-radius:8px;

}


button{

margin-top:20px;
padding:12px 25px;
background:#0b6efd;
border:none;
color:white;
border-radius:8px;
cursor:pointer;

}



button:hover{

background:#084298;

}








/* CALENDAR */


.calendar-header{

display:flex;
justify-content:space-between;
align-items:center;

}


.calendar-weekdays,
.calendar-days{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
margin-top:20px;

}


.calendar-weekdays div{

text-align:center;
font-weight:bold;

}



.day{

background:#eef5ff;
padding:20px;
text-align:center;
border-radius:8px;
cursor:pointer;

}



.day.active{

background:#0b6efd;
color:white;

}



.day:hover{

background:#cfe2ff;

}






/* TABLE */


table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}



th{

background:#0b6efd;
color:white;
padding:12px;

}



td{

padding:12px;
border-bottom:1px solid #ddd;

}



.status{

color:green;
font-weight:bold;

}